In [27]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in d:\ananconda navi\lib\site-packages (9.0.0)

In [28]:
import mysql.connector

In [33]:
mydb = mysql.connector.connect(
  host="mspdb.czueskmq6lm3.ap-south-1.rds.amazonaws.com",
  user="admin",
  password="Mukeshsurya",
  port=3306
)

In [35]:
print(mydb)
mycursor = mydb.cursor(buffered=True)
mycursor.execute("Show databases")
for x in mycursor:
  print(x)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000179CC6AD0D0>
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('user_logs',)

In [15]:
mycursor.execute("CREATE DATABASE user_logs")

In [37]:
mycursor.execute("USE user_logs")

In [39]:
mycursor.execute("""CREATE TABLE APP_USER_LOGS (
    ID INT AUTO_INCREMENT PRIMARY KEY,
    Text TEXT,
    Predicted_class INT,
    Negative FLOAT,
    Neutral FLOAT,
    Positive FLOAT,
    ip_address VARCHAR(45),
    Timestamp DATETIME DEFAULT CURRENT_TIMESTAMP
);
""")

ProgrammingError: 1050 (42S01): Table 'APP_USER_LOGS' already exists

In [41]:
mycursor.execute("select * FROM APP_USER_LOGS")
out = mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers = [i[0] for i in mycursor.description], tablefmt = 'psql'))

+------+--------------------------------------------------------+-------------------+------------+------------+------------+---------------+---------------------+
|   ID | Text                                                   |   Predicted_class |   Negative |    Neutral |   Positive | ip_address    | Timestamp           |
|------+--------------------------------------------------------+-------------------+------------+------------+------------+---------------+---------------------|
|    1 | The movie was not as good as I expected                |                 2 | 0.279408   | 0.482457   | 0.238135   | 172.31.49.194 | 2025-01-22 12:14:32 |
|    2 | I would never recommend this to anyone                 |                 2 | 0.36182    | 0.460449   | 0.177731   | 172.31.1.253  | 2025-01-22 12:15:08 |
|    3 | happy                                                  |                 2 | 0.0255673  | 0.957863   | 0.0165692  | 172.31.20.50  | 2025-01-22 12:21:35 |
|    4 | not happy                                              |                 3 | 0.111767   | 0.106821   | 0.781411   | 172.31.20.50  | 2025-01-22 12:22:09 |
|    5 | I love this product!                                   |                 2 | 0.011731   | 0.98294    | 0.00532899 | 172.31.49.194 | 2025-01-22 14:20:45 |
|    6 | I hate this product                                    |                 3 | 0.00133527 | 0.0012908  | 0.997374   | 172.31.20.50  | 2025-01-22 14:22:45 |
|    7 | I love this product                                    |                 2 | 0.00853982 | 0.986182   | 0.00527868 | 172.31.20.50  | 2025-01-22 14:25:31 |
|    8 | i love this product                                    |                 2 | 0.00853982 | 0.986182   | 0.00527868 | 172.31.20.50  | 2025-01-22 14:36:23 |
|    9 | i hate this product                                    |                 3 | 0.00133527 | 0.0012908  | 0.997374   | 172.31.20.50  | 2025-01-22 14:36:50 |
|   10 | i love this product                                    |                 2 | 0.00853982 | 0.986182   | 0.00527868 | 172.31.43.158 | 2025-01-22 14:58:13 |
|   11 | i hate  this product                                   |                 3 | 0.00133527 | 0.0012908  | 0.997374   | 172.31.43.158 | 2025-01-22 14:58:27 |
|   12 | i dont  like                                           |                 3 | 0.150317   | 0.188607   | 0.661076   | 172.31.43.158 | 2025-01-22 14:58:45 |
|   13 | This is the worst experience ever.                     |                 3 | 0.0253965  | 0.0267577  | 0.947846   | 172.31.43.158 | 2025-01-22 15:00:01 |
|   14 | guvi has the best data science road map in industry    |                 2 | 0.293394   | 0.699804   | 0.00680247 | 172.31.43.158 | 2025-01-22 15:00:31 |
|   15 | I love this product!                                   |                 2 | 0.011731   | 0.98294    | 0.00532899 | 172.31.43.158 | 2025-01-22 15:01:03 |
|   16 | i love this product                                    |                 2 | 0.00853982 | 0.986182   | 0.00527868 | 172.31.20.50  | 2025-01-22 15:21:39 |
|   17 | i love this product                                    |                 2 | 0.00527868 | 0.00853982 | 0.986182   | 172.31.20.50  | 2025-01-22 15:57:53 |
|   18 | i hate this product                                    |                 3 | 0.997374   | 0.00133527 | 0.0012908  | 172.31.20.50  | 2025-01-22 15:58:06 |
|   19 | i dont like this                                       |                 3 | 0.99284    | 0.00336306 | 0.00379706 | 172.31.20.50  | 2025-01-22 15:58:20 |
|   20 | I can't believe how poorly they handled the situation. |                 3 | 0.986456   | 0.00634599 | 0.00719806 | 172.31.1.253  | 2025-01-22 16:00:13 |
|   21 | I received the package yesterday, as expected          |                 1 | 0.0240094  | 0.682644   | 0.293347   | 172.31.43.158 | 2025-01-22 16:03:55 |
+------+--------------------------------------------------------+-------------------+------------+------------+------------+---------------+---------------------+